.child1 {
  width: 200px;
  height: 200px;
  background-color: red;
  float: left;
}

.child2 {
  width: 200px;
  height: 200px;
  background-color: yellow;
  float: left;
}

.child3 {
  width: 200px;
  height: 200px;
  background-color: blue;
  float: left;
}

.parent {
  width: 400px;
  background-color: gray;
  margin: 0 auto;
}
.text1 {
  background-color: black;
  color: white;
}

/*float 레이아웃 깨짐해결 정석방법*/
.parent::after {
  content: "";
  display: block;
  clear: left;
}
